<!DOCTYPE html>
<html>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link rel="stylesheet" href="/css/smart.css"/>
<body>

<div ng-app="myApp" ng-controller="myController">

<div class="home-wrapper-logo-outer">
	&nbsp;
</div>
<div class="home-wrapper-action-button-large">
<a href="smart1">&nbsp;</a>
	
</div>

</div>

<script>
//alert("ewfef");
var app = angular.module('myApp', []);
app.controller('myController', function($scope) {
    
    $scope.fullName = function() {
       alert("hi");
    };
});
</script>

</body>
</html>